<div class="priority-table-container">
  <app-drag-table
    [id]="'p1'"
    [tasks]="p1Task"
    [tableTitle]="'1st Priority Tasks'"
    [connectTo]="dls"
    (selectedRowsChange)="onSelectedRowsChange($event)"
    (statusChange)="onStatusChange($event)"
    (dropChange)="drop($event)"
    (addNewTask)="addNewTask($event)"
    (urgentLevelChange)="onUrgentLevelChange($event)"
  ></app-drag-table>
  <app-drag-table
    [id]="'p2'"
    [tasks]="p2Task"
    [tableTitle]="'2nd Priority Tasks'"
    [connectTo]="dls"
    (statusChange)="onStatusChange($event)"
    (selectedRowsChange)="onSelectedRowsChange($event)"
    (dropChange)="drop($event)"
    (addNewTask)="addNewTask($event)"
    (urgentLevelChange)="onUrgentLevelChange($event)"
  ></app-drag-table>
  <app-drag-table
    [id]="'p3'"
    [tasks]="p3Task"
    [tableTitle]="'3rd Priority Tasks'"
    [connectTo]="dls"
    (statusChange)="onStatusChange($event)"
    (selectedRowsChange)="onSelectedRowsChange($event)"
    (dropChange)="drop($event)"
    (addNewTask)="addNewTask($event)"
    (urgentLevelChange)="onUrgentLevelChange($event)"
  ></app-drag-table>
</div>

<app-completed-table
  [id]="'completed'"
  [tasks]="completedTask"
  [connectTo]="dls"
  (statusChange)="onStatusChange($event)"
  (selectedRowsChange)="onSelectedRowsChange($event)"
  (dropChange)="drop($event)"
></app-completed-table>
