ion-item:hover {
    cursor: pointer;
    color: #006950;
    --background: #b8ffee;
    --border-color: #b8ffee;
    --checkmark-color: #b8ffee;
  }

  ion-button:hover {
    cursor: progress;
    color: #006950;
    --background: #00b88d;
    --border-color: #00b88d;
    --checkmark-color: #00b88d;
  }