<ion-item class="table-title" lines="none">
  <ion-label>{{ tableTitle }}</ion-label>
</ion-item>
<table
  mat-table
  matSort
  [id]="id"
  [dataSource]="dataSource"
  [cdkDropListData]="tasks"
  class="mat-elevation-z8"
  cdkDropList
  (matSortChange)="onSortChange($event)"
  [cdkDropListConnectedTo]="connectTo"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      [disabled]="col.key === 'operation' || col.key === 'status'"
    >
      {{ col.label }}
    </th>
    <td mat-cell *matCellDef="let task">
      <div [ngSwitch]="col.label" *ngIf="!task.isEdit">
        <ng-container *ngSwitchCase="'Status'">
          <mat-checkbox
            [checked]="task.completed"
            (click)="onTaskStatusChange(task); $event.stopPropagation()"
          ></mat-checkbox>
        </ng-container>
        <div *ngSwitchCase="'Operation'">
          <a
            class="default-operation-button"
            (click)="onEdit(task); $event.stopPropagation()"
          >
            <span class="material-symbols-outlined">info</span>
          </a>

          <a
            class="default-operation-button"
            (click)="onDelete(task); $event.stopPropagation()"
            [style.color]="'red'"
          >
            <span class="material-symbols-outlined">cancel</span>
          </a>
        </div>
        <span class="display-cell" *ngSwitchDefault>
          {{ task[col.key] }}
        </span>
      </div>
      <div [ngSwitch]="col.label" *ngIf="task.isEdit">
        <div *ngSwitchCase="'Status'"></div>
        <div *ngSwitchCase="'Operation'">
          <button
            class="inline-edit-button"
            mat-button
            (click)="onConfirm(task); $event.stopPropagation()"
            color="primary"
            [disabled]="validateNewTask(task)"
          >
            Confirm</button
          ><button
            class="inline-edit-button"
            mat-button
            (click)="onCancel(task); $event.stopPropagation()"
            color="warn"
          >
            Cancel
          </button>
        </div>

        <mat-form-field *ngSwitchDefault>
          <input
            matInput
            [type]="col.type"
            [required]="col.required"
            [(ngModel)]="task[col.key]"
            (click)="$event.stopPropagation()"
          />
        </mat-form-field>
      </div>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    cdkDrag
    mat-row
    (click)="toggleRow(row)"
    [class.row-is-clicked]="selectedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>

<ion-button (click)="onAddNewTask()" [shape]="'round'" [size]="'small'"
  >Add New Task</ion-button
>
